<?xml version="1.1"?>
<robot name="ur3" xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:include filename="$(find ur_description)/urdf/ur_macro.xacro" />
  
  <!-- ur_type -->
  <xacro:arg name="ur_type" default="ur3"/>
  <!-- ros2_control related parameters -->
  <xacro:arg name="robot_ip" default="192.168.1.101" />
  <xacro:arg name="generate_ros2_control_tag" default="true"/>
  <!-- parameters -->
  <xacro:arg name="tf_prefix" default=""/>
  <xacro:arg name="transmission_hw_interface" default=""/>
  <xacro:arg name="safety_limits" default="false"/>
  <xacro:arg name="safety_pos_margin" default="0.15"/>
  <xacro:arg name="safety_k_position" default="20"/>
  <!-- Simulation parameters -->
  <xacro:arg name="use_fake_hardware" default="false" />
  <xacro:arg name="fake_sensor_commands" default="false" />
  <xacro:arg name="sim_gazebo" default="false" />
  <xacro:arg name="sim_ignition" default="false" />
  <xacro:arg name="simulation_controllers" default="" />
  <!-- initial position for simulations (Fake Hardware, Gazebo, Ignition) -->
  <!-- <xacro:arg name="initial_positions_file" default="$(find cartesian_controller_simulation)/config/initial_positions.yaml"/> -->
  <!-- <xacro:property name="initial_positions_file" default="$(arg initial_positions_file)"/> -->
  
  <link name="world" />
  <joint name="world_joint" type="fixed">
    <origin xyz="0 0 0" rpy="0 0 0" />
    <parent link="world" />
    <child link="base_link" />
  </joint>

  <xacro:ur_robot name="$(arg ur_type)" 
      robot_ip="$(arg robot_ip)"
      generate_ros2_control_tag="$(arg generate_ros2_control_tag)"
      tf_prefix="$(arg tf_prefix)" parent="world"
      transmission_hw_interface="$(arg transmission_hw_interface)"
      safety_limits="$(arg safety_limits)"
      safety_pos_margin="$(arg safety_pos_margin)"
      safety_k_position="$(arg safety_k_position)" 
      joint_limits_parameters_file="$(find ur_description)/config/$(arg ur_type)/joint_limits.yaml" 
      kinematics_parameters_file="$(find cartesian_controllers_universal_robots)/config/test_calibration.yaml" 
      physical_parameters_file="$(find ur_description)/config/$(arg ur_type)/physical_parameters.yaml" 
      visual_parameters_file="$(find ur_description)/config/$(arg ur_type)/visual_parameters.yaml" 
      script_filename="$(find ur_client_library)/resources/external_control.urscript"
      input_recipe_filename="$(find ur_robot_driver)/resources/rtde_input_recipe.txt"
      output_recipe_filename="$(find ur_robot_driver)/resources/rtde_output_recipe.txt"
      use_fake_hardware="$(arg use_fake_hardware)" 
      fake_sensor_commands="$(arg fake_sensor_commands)"
      sim_gazebo="$(arg sim_gazebo)"
      sim_ignition="$(arg sim_ignition)">
      <!-- initial_positions="${xacro.load_yaml(initial_positions_file)}" -->
    <origin xyz="0 0.0 0.0" rpy="0 0 0" />
  </xacro:ur_robot>

  <xacro:include filename="$(find cartesian_controller_simulation)/urdf/joint.urdf.xacro"/>

  <!-- the parameter is modified for UR3e in mujoco -->
  <!-- <ros2_control name="cartesian_controller_simulation" type="system">
    <xacro:joint_interface name="shoulder_pan_joint" p="1000" d="100" />
    <xacro:joint_interface name="shoulder_lift_joint" p="1000" d="100" />
    <xacro:joint_interface name="elbow_joint" p="500" d="50" />
    <xacro:joint_interface name="wrist_1_joint" p="200" d="20" />
    <xacro:joint_interface name="wrist_2_joint" p="200" d="20" />
    <xacro:joint_interface name="wrist_3_joint" p="200" d="20" />
    <hardware>
      <plugin>cartesian_controller_simulation/Simulator</plugin>
      <param name="mujoco_model">$(arg mujoco_model)</param>
    </hardware>
  </ros2_control> -->

  <!-- <gazebo>
    <plugin filename="libgazebo_ros2_control.so" name="gazebo_ros2_control">
      <parameters>$(find ur_description)/config/initial_positions.yaml</parameters>
    </plugin>
  </gazebo> -->
  <xacro:if value="$(arg sim_gazebo)">
    <!-- Gazebo plugins -->
    <gazebo reference="world">
    </gazebo>
    <gazebo>
      <plugin filename="libgazebo_ros2_control.so" name="gazebo_ros2_control">
        <parameters>$(arg simulation_controllers)</parameters>
      </plugin>
    </gazebo>
  </xacro:if>

  <xacro:if value="$(arg sim_ignition)">
    <!-- Gazebo plugins -->
    <gazebo reference="world">
    </gazebo>
    <gazebo>
      <plugin filename="libign_ros2_control-system.so" name="ign_ros2_control::IgnitionROS2ControlPlugin">
        <parameters>$(arg simulation_controllers)</parameters>
        <controller_manager_node_name>$(arg tf_prefix)controller_manager</controller_manager_node_name>
      </plugin>
    </gazebo>
  </xacro:if>
  
</robot>
